/* 头部背景样式 */
.topnav {
    width:100% ;
    height:251px ;
    background-image:url(../upload/hongse.jpg);
}
.topnav .container div{
    width: 100%;
    height:252px ;
  }
.topnav img:nth-child(1){
    float: left;
    padding-top:34px ;
}
.topnav a:nth-child(2) img{
    float: right;
    padding-top:59px ;
}
/* 头部背景图下搜索标题样式 */
.toptitle{
    width: 100%;
    height:85px;
    background-color:#F1EEE9;
}
.toptitleleft{
    float: left;
    height:85px ;
    width:870px;
    font-size: 19px;
padding-top:6px ;
box-sizing: border-box;
}
.toptitleleft a{
    text-decoration: none;
    margin-top: 18px;

}
.toptitleleft a:nth-child(-n+5){
    margin-right: 66px;
}
.toptitleleft a:nth-last-child(-n+5){
    margin-left: 66px;
}

.toptitleleft a:nth-child(-n+6){
    line-height:45px ;
}
.toptitleleft a:hover{
    color: #CD0100;
}
.toptitleright{
    float: right;
    display: block;
    width:100px ;
    height:85px ;
    text-align: center;
    padding-top:10px ;
    box-sizing: border-box;
}
.toptitleright a{
    float: right;
    display: block;
    margin-right:9px;
    width:89px ;
    height:29px ;
    margin-left:42px ;

}
.toptitleright a:nth-child(1){
    margin-bottom:10px;
}
/* 学习文化 */

.studyculture{
    position: relative;
    width: 100%;
    height:530px ;
    z-index: 2;
    background-image: url(../upload/gugong.png);
    background-repeat:no-repeat ;
    background-size: auto 530px;
    background-position: bottom;
}
.gugong .top{
    width: 100%;
    height:97px ;
}
.gugong .top img{
    float: left;
    margin-top:20px ;
}
.gugong .top a:nth-child(2){
    float: right;
    font-size: 15px;
    margin-top:71px ;
    color: white;
}
.gugong .middle{
    width: 100%;
    height:117px ;
    
}
.gugong .center{
    position: absolute;
    right: -105px;
    height:183px ;
    z-index: -1;
}
.gugong .picture img{
    margin-top: 25px;
    margin-left:31.5px ;
}
.gugong .foot{
    width: 100%;
    height:80px ;
    background-color: wheat;
    margin-top: 32px;
}
.gugong .sanjiao img:nth-child(1){
    position: absolute;
    top: 286px;
    left:-6px ;
}
.gugong .sanjiao img:nth-child(2){
    position: absolute;
    top: 286px;
    right:-12px ;
}
/* 友情链接样式 */
.friendlybox{
    width: 100%;
    height:190px ;
    border-bottom: 1px solid #CCCCCC;
    margin-top:49px ;
}
.friendlybox .left{
    float: left;
    width:111px ;
    height: 137px;
    border-right: 1px solid #cccccc;
    margin-top: 27px;
}
.friendlybox .left p{
    font-size:18px ;
}
.friendlybox .right{
    float: right;
    width:888px ;
    height: 190px;
    padding-top:20px;
    box-sizing: border-box;
    padding-left:24px ;
}
.friendlybox .right a{
    font-size: 15px;
    margin-right:25px ;
    line-height: 31px;
}
.endpicture .endbox{
    width:100% ;
    height:118px ;
}
.endbox img:nth-child(1){

    margin-left: 425px;
    margin-top: 27px;
}
.endbox a:nth-child(2) img {
    margin-left: 10px ;
    margin-top: 32px;
}
.finally{
    width: 100%;
    height:152px ;
    text-align: center;
}
.finally p:nth-child(-n+4) a{
    font-size: 16px;
}
.finally p:nth-child(-n+5) a:nth-child(1){
    margin-right:17px ;
}
.finally p:nth-child(-n+5) a{
        line-height: 29px;
}
.finally p:nth-last-child(1) a{
    color: #979797;
    font-size: 14px;
}

