.topnav {
    width:100% ;
    height:251px ;
    background-color: #CD0100;
}
.topnav img{
    height: 251px;
}
.toptitle{
    width: 100%;
    height:85px;
    background-color:#F1EEE9;
}
.toptitleleft{
    float: left;
    height:85px ;
    width:800px;
    background-color: aqua;
    font-size: 19px;

}
.toptitleleft a{
    text-decoration: none;
    margin-right:46px ;
    margin-top: 18px;

}
.toptitleleft a:nth-child(-n+6){
    margin-top: 18px;
}
.toptitleleft a:hover{
    color: #CD0100;
}
.toptitleright {
    float: right;
    width:200px ;
    height:85px ;
    text-align: center;
}
.toptitleright div{
    width:89px ;
    height:29px ;
    background-color: #E60103;
    text-align: center;
    line-height: 29px;
    margin-left:42px ;
    color: white;
    font-size: 17px;
border-radius:5px 5px 5px 5px ;

}
.toptitleright div:nth-child(1){
    margin-top: 10px;
    margin-bottom:10px ;

}
.toptitleparttwobox{
    height:215px ;
    overflow: hidden;
    text-align: center;
}
.toptitleparttwobox h1{
    color: #D0021B;
    font-size:38px ;
    margin-top: 45px;
    margin-bottom:26px ;
}
.toptitleparttwobox a{
    text-decoration: none;
    color: black;
}
.toptitleparttwobox a:nth-child(2){
    margin-right: 11px;
}
.toptitleparttwobox a:hover{
    color:red ;
}

.toptitleparttwobox a:nth-child(3){
    margin-right:22px ;
}
.toptitleparttwobox a:nth-child(4){
    color: red;
    font-size: 17px;
}
.toptitleparttwobox p:nth-child(5){
    width: 100%;
    height:2px ;
    background-color: #D30000;
    margin-top:35px ;
    margin-bottom:-7px ;

}
.toptitleparttwobox p:nth-child(6){
    width: 100%;
    height:5px ;
    background-color: #D30000;
}
.slideshowbox{
    height:560px;
    background-color: #FE0000;
}
.slideshowboxbottom{
    width: 100%;
    height:62px ;
    background-color: skyblue;
    text-align: center;
    overflow: hidden;
}
.slideshowboxbottom p{
    color: white;
    font-size:17px ;
}
.activity{
    width: 100%;
    height:417px ;
    background-color: #F3E7D8;
    margin-top:25px ;
}
.activitybox{
    height:417px ;
    /* background-color: teal; */
}
.activityboxleft{
    float: left;
}
.activityboxright{
    float: right;
    width:306px;
    height:354px ;
}
.activityboxtop{
    width: 694px;
    height:221px ;
}
.activityboxtop .top{
    width:694px ;
    height:62px ;
}
.bottom{
    width: 694px;
    height:159px ;
}
.activityboxtop .top a{
    float: right;
    text-decoration: none;
    margin-top: 35px;
    margin-right: 50px;
    color: black;
}
.activityboxtop .bottom a {
text-decoration: none;
font-size: 16px;
color: black;
line-height: 38px;
}
.activityboxtop .bottom a:hover{
    color:#A4221F;
}
.activityboxtop .bottom a:nth-child(1){
    margin-left: -7px;
    margin-right:30px ;
}
.activityboxtop .bottom a:nth-child(2){
    margin-right:50px ;
}
.activityboxbottom{
    width: 694px;
    height: 196px;
}
.activityboxtop .bottom a:nth-child(3){
    margin-right: 63px;
}
.activityboxtop .bottom a:nth-child(4){
    margin-right:49px ;
}
.activityboxtop .bottom a:nth-child(5){
    margin-right:95px ;

}
.activityboxtop .bottom a:nth-child(6){
    margin-right:135px ;

}
.activityboxtop .bottom a:nth-child(7){
    margin-right:15px ;

}
.activityboxbottom a{
display: block;
float: left;
width: 320px;
height: 80px;
}
.activityboxbottom a:nth-child(-n+2){
    margin-right:8px ;
    margin-bottom:7px ;

}
.activityboxbottom a:nth-child(3){
    margin-right:8px ;
}
.activityboxbottom img{
width: 320px;
height: 80px;

}
.activityboxright{
    position: relative;
    margin-top:30px ;
}
.activityboxright img{
    width: 306px;
    margin-top:5px ;
}
.activityboxright a:nth-child(4) img {
    position: absolute;
    top: 153px;
    left: 41px;
    width:88px ;
    height:96px ;
    
}
.activityboxright a:nth-child(5) img {
    position: absolute;
    top:153px ;
    left:165px ;
    width:107px ;
    height:96px ;

}
.activityboxright a:nth-child(6){
    position: absolute;
    top:253px ;
    left:70px ;
    text-decoration: none;
    color: black;
  
}
.activityboxright a:nth-child(7){
    position: absolute;
    top:253px ;
    left:206px ;
    text-decoration: none;
    color: black;
  
}
.activityboxright a:nth-child(7):hover{
    color: #F93332;
}
.activityboxright a:nth-child(6):hover{
    color: #F93332;
}
.newsbox{
    width:100% ;
    height:580px ;
    /* background-color: cadetblue; */
}
.newsboxleft{
    float: left;
}
.newsboxleft .top{
width:654px ;
height:66px ;
border-bottom: 1px solid red;
}
.newsboxleft .top a:nth-child(1){
    float: left;
    text-decoration: none;
    font-size:28px ;
    color: #D30000;
    font-weight: 700;
    line-height: 66px;
}
.newsboxleft .top a:nth-child(2){
float: right;
text-decoration: none;
color: black;
line-height: 66px;
font-size: 14px;
}
.newsboxleft .left{
    float: left;
    width:335px ;
    height:310px ;
    padding-top:23px ;
    box-sizing: border-box;
    /* background: rosybrown; */

}
.newsboxleft .left a{
    display: block;
    color: black;
    font-size: 15px;
    margin-bottom:20px ;
}
.newsboxleft .right{
    float: right;
    padding-top:23px ;
    box-sizing: border-box;

    width:319px ;
    height:310px ;
    /* background: green; */

}
.newsboxleft .left a:hover{
    color: red;
}
.newsboxleft .right a:hover{
    color: red;
}
.newsboxleft .right a{
    display: block;
    color: black;
    font-size: 15px;
    margin-bottom:20px ;

}
.newsboxright{
    float: right;
    position: relative;
    width:346px ;
    height:377px ;
    /* background-color: chocolate; */
}
.newsboxright .top{
    width:346px ;
    height:162px ;
    /* background-color: crimson; */
}
.newsboxright .top img:nth-child(1){
margin-top: 40px;
margin-left: 32px;
}
.newsboxright .top img:nth-child(2){
    margin-top: 40px;
    margin-left: 88px;
    margin-bottom:25px ;

}
.newsboxright .middle{
    width:346px ;
    height:87px ;
    /* background-color: rosybrown; */
}
.newsboxright .middle img{
    width:346px ;
    height:87px ;

}
.newsboxright img:nth-child(4){
    position: absolute;
    top:45px ;
    left:45px ;
}
.newsboxright .learn img{
    position: absolute;
    top:182px ;
    left:120px ;
}
.newsboxright .CCTV{
    width:346px ;
    height:112px ;
    /* background-color: salmon; */
}
.newsboxright .CCTV img{
    width:346px ;
    height:112px ;
 margin-top: 5px;
}
.newsboxright .zhongyang img{
    position: absolute;
    top:315px ;
    left:54px ;
}
.newsboxbottom{
    float: left;
    width:100% ;
    height:159px ;
    /* background-color: aqua; */
    margin-top: 44px;
}
.studybox{
    width: 100%;
    height:482px ;
    background-color: blanchedalmond;
}
.studybox div{
    float: left;
    width:328px ;
    height:403px ;
    background-color: cadetblue;
}
.studybox div:nth-child(-n+2){
    margin-right: 8px;
}
.studybox div .top{
    width: 100%;
    height:75px ;
    background-color:grey ;
    /* border-bottom: 1px solid red; */
    box-sizing: border-box;
}
.studybox div .top :nth-child(1){
    float: left;
    font-size:26px ;
    font-weight: 700;
    color: red;
    margin-top:34px ;
}
.studybox div .top :nth-child(2){
    float: right;
    margin-top:42px ;

}
.studybox div a{
    display: block;
    font-size:14px ;
    /* padding-top: 22px; */

}
.studybox div .bottom{
    position: relative;
    width:328px ;
    height: 328px;
    background-color: sandybrown;
}
.studybox div .bottom a{
    font-size: 16px;
    margin-top: 20px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.studybox div .bottom a:hover{
    color: red;
}
.studybox .bottom .three {
    width:328px ;
    height:67px ;
}
.studybox .bottom .three img{
    width:328px ;
    height:67px ;
  
}
.studybox .bottom .threebox{
    width:128px ;
    height:67px ;
    background-color: skyblue;

}
.studybox .bottom .threetu img {
    position: absolute;
    top:253px ;
    width:61px ;
    height:57px ;

}
.studybox .bottom .all{
    position: absolute;
    top:249px ;
    left: 102px;
    font-size:24px ;
    color: white;
    font-weight: 700;
}
.studybox .bottom .all:hover{
    color: white;
}
.studybox .footer{
    float: left;
    width:100% ;
    height:80px ;
    background-color: grey;
}
.studybox .footer a:nth-child(-n+2){

}